<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova.weixin.pay"
    version="5.3.0">
    <name>Weixin</name>

    <js-module src="www/weixin.js" name="weixin">
        <clobbers target="navigator.weixin" />
    </js-module>



    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="Weixin">
                <param name="ios-package" value="CDVWeixin"/>
                <param name="onload" value="true" />
            </feature>

        </config-file>
		<header-file src="src/ios/CDVWeixin.h" />
        <source-file src="src/ios/CDVWeixin.m" />
        <header-file src="src/ios/WXHttpUtil.h" />
        <source-file src="src/ios/WXHttpUtil.m" />

        <source-file src="src/ios/weixin/libWeChatSDK.a" framework="true" />
        <header-file src="src/ios/weixin/WXApi.h" />
        <header-file src="src/ios/weixin/WXApiObject.h" />

        <!-- AFNetworking -->
        <header-file src="src/ios/AFNetworking/AFHTTPClient.h" />
        <source-file src="src/ios/AFNetworking/AFHTTPClient.m" />
        <header-file src="src/ios/AFNetworking/AFHTTPRequestOperation.h" />
        <source-file src="src/ios/AFNetworking/AFHTTPRequestOperation.m" />
        <header-file src="src/ios/AFNetworking/AFImageRequestOperation.h" />
        <source-file src="src/ios/AFNetworking/AFImageRequestOperation.m" />
        <header-file src="src/ios/AFNetworking/AFJSONRequestOperation.h" />
        <source-file src="src/ios/AFNetworking/AFJSONRequestOperation.m" />
        <header-file src="src/ios/AFNetworking/AFNetworkActivityIndicatorManager.h" />
        <source-file src="src/ios/AFNetworking/AFNetworkActivityIndicatorManager.m" />
        <header-file src="src/ios/AFNetworking/AFNetworking.h" />
        <header-file src="src/ios/AFNetworking/AFPropertyListRequestOperation.h" />
        <source-file src="src/ios/AFNetworking/AFPropertyListRequestOperation.m" />
        <header-file src="src/ios/AFNetworking/AFURLConnectionOperation.h" />
        <source-file src="src/ios/AFNetworking/AFURLConnectionOperation.m" />
        <header-file src="src/ios/AFNetworking/AFXMLRequestOperation.h" />
        <source-file src="src/ios/AFNetworking/AFXMLRequestOperation.m" />
        <header-file src="src/ios/AFNetworking/UIImageView+AFNetworking.h" />
        <source-file src="src/ios/AFNetworking/UIImageView+AFNetworking.m" />
        <!-- afnetworking 依赖security.framework -->
        <framework src="libsqlite3.0.tbd"/>
        <framework src="CFNetwork.framework"/>
        <framework src="libz.1.2.5.tbd" />
        <framework src="CoreTelephony.framework" />
        <framework src="SystemConfiguration.framework" />
        <framework src="Security.framework" />
        <framework src="libstdc++.6.0.9.tbd" />


        <header-file src="src/ios/JSONKit/JSONKit.h" />
        <source-file src="src/ios/JSONKit/JSONKit.m" compiler-flags="-fno-objc-arc"/>

		<config-file target="*-Info.plist" parent="CFBundleURLTypes">
		    <array>
				<dict>
					<key>CFBundleTypeRole</key>
					<string>Editor</string>
					<key>CFBundleURLIconFile</key>
					<string>icon-50@2x</string>
					<key>CFBundleURLName</key>
					<string>wxxxxxxxxxxx</string>
					<key>CFBundleURLSchemes</key>
					<array>
						<string>wxxxxxxxxxxx</string>
					</array>
				</dict>
			</array>
		</config-file>
    </platform>

  <!-- android -->
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="Weixin">
        <param name="android-package" value="com.atide.cordova.plugin.weixin.Weixin" />
        <param name="onload" value="true" />
      </feature>
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest/application/activity">
      <intent-filter>
        <action android:name="android.intent.action.VIEW"/>
        <category android:name="android.intent.category.DEFAULT"/>
        <data android:scheme="wxxxxxxxxxxxx"/>
      </intent-filter>
    </config-file>

<config-file target="AndroidManifest.xml" parent="/manifest">
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
  <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
</config-file>
    <config-file target="AndroidManifest.xml" parent="/manifest/application">

      <activity
        android:name=".wxapi.WXPayEntryActivity"
        android:exported="true"
        android:launchMode="singleTop">
      </activity>
      <receiver
        android:name="com.atide.cordova.plugin.weixin.AppRegister"
        android:permission="com.tencent.mm.plugin.permission.SEND" >
        <intent-filter>
          <action android:name="com.tencent.mm.plugin.openapi.Intent.ACTION_REFRESH_WXAPP" />
        </intent-filter>
      </receiver>
    </config-file>

    <source-file src="src/android/libammsdk.jar" target-dir="libs"/>
    <source-file src="src/android/org.apache.http.legacy.jar" target-dir="libs"/>
    <source-file src="src/android/com/atide/cordova/plugin/weixin/Util.java" target-dir="src/com/atide/cordova/plugin/weixin" />
    <source-file src="src/android/com/atide/cordova/plugin/weixin/Weixin.java" target-dir="src/com/atide/cordova/plugin/weixin" />
    <source-file src="src/android/com/atide/cordova/plugin/weixin/AppRegister.java" target-dir="src/com/atide/cordova/plugin/weixin" />
    <source-file src="src/android/com/ionicframework/starter/wxapi/WXPayEntryActivity.java" target-dir="src/com/sharedParking/mz/wxapi" />
  </platform>

</plugin>
